body {
	font-family: "Atkinson Hyperlegible", sans-serif;
	margin-inline: auto;
	max-width: 800px;
	padding: 1rem;
}

.jumbo {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	margin-bottom: 2rem;
}

.jumbo img {
	max-width: 100px;
	border: 2px solid;
	border-radius: 0.5rem;
}

.jumbo div {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.jumbo h1 {
	font-size: 300%;
	margin: 0;
}

.jumbo p {
	margin: 0;
}

footer {
	margin-top: 3rem;
}

nav {
	* {
		margin: 0;
	}

	h2 {
		font-size: 150%;
		margin: 0;
	}
}

h2 {
	font-size: 200%;
	margin-top: 3rem;
	margin-bottom: 0;
}

h2+p {
	margin-top: 0.5rem;
}

h3 {
	margin-bottom: 0;
}

h3+p {
	margin-top: 0.5rem;
}

img {
	box-sizing: border-box;
	max-width: 100%;
	border-radius: 0.5rem;
	border: 2px solid;
}

abbr[title] {
	text-underline-offset: 4px;
}

details {
	border: 1px solid;
	border-radius: 0.5rem;
	margin-top: 2rem;
}

details {
	padding: 1rem;
}

details[open] {
	padding-bottom: 0;
}

details[open] summary {
	border-bottom: 1px solid;
	margin-bottom: 0;
}

summary {
	border-radius: 0.5rem;
	padding: 1rem;
	margin: -1rem;
	cursor: default;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 0.5em;
}

td:first-of-type {
	text-align: center;
}

.experience details[open] summary {
	background-color: hsla(240, 100%, 50%, 0.075);
}

.experience :is(h1, h2) {
	color: hsl(240, 30%, 30%);
}

.robotics details[open] summary {
	background-color: hsla(0, 100%, 50%, 0.075);
}

.robotics :is(h1, h2) {
	color: hsl(0, 30%, 30%);
}

.education details[open] summary {
	background-color: hsla(120, 100%, 50%, 0.075);
}

.education :is(h1, h2) {
	color: hsl(120, 30%, 30%);
}
